.inputContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  background-clip: border-box;
}

.search {
  display: flex;
  size: 40px;
  
}

.inputIcon {
  position: absolute;
  right: 10px;
  opacity: 0.7;
}