.list-group {
  margin-left: 2vw ;
  margin-right: 2vw;
  /* box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9); */
}

.table-wrapper {
  overflow-y: scroll;
  height: fit-content;
  max-height: 75vh; 
  scrollbar-color: #060b26 white;
  scrollbar-width: thin;
  
}

.table>tbody>tr>td {
  border: none;
}

.table-hover tbody tr:hover td {
  background-color: #7983b968;
}

tr:nth-child(even) {
  background-color: rgba(135, 190, 240, 0.1);
}

table thead {
  position: sticky;
  top: 0px;
  color: whitesmoke;
  background-color: #060b26;
}